*.py[cod]
__pycache__
.cache
venv/

.db

*.egg
*.egg-info
dist
build
eggs
.eggs/
mail_classifier.egg-info/
sdist
develop-eggs
src/mail_classifier/_version.py

pip-log.txt
pip-wheel-metadata/

.coverage
.tox
.pytest_cache
.hypothesis
nosetests.xml

.direnv
.vscode
.DS_store
.idea/
.idea_modules/

.ipynb_checkpoints
